bootstrap/cache/services.php

public/build

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*

?ulpfile.js
?untfile.js
phpunit.xml
readme.md
phpspec.yml

Dockerfile
docker-compose.yml
docker-compose-prod.yml
run
run.ps1
